/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,900&family=Roboto:wght@100;400;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }

  body{
    font-family: 'Roboto', sans-serif;
  }


/* Defined Variable */
:root {
    --blue: #1135e9;
    --blueLight: #7383d1;
    --white: #ffffff;
    --grey : #707070;
  }

/* Main Css */

#main-container{
    /* width: 1366px; */
    /* margin: auto; */
    background-color: azure;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
}

/* Header Css */
header{
/* display: flex;
justify-content: center;
align-items: center; */
    text-align: center;
    padding: 50px 0 20px 0;
}

header h1{
    font-size: 40px;
    text-transform:uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: var(--blue);
    padding-bottom: 30px;
}

header p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    
}


/* main body css */

main{
    text-align: center;
    margin-bottom: 30px;
    

}

main textarea{
 width: 70%;
 height:200px ;
 border-radius: 10px;
 margin-bottom: 5px;
 border: solid 1px var(--blue);
 outline: none;
 font-size: 24px;
 padding: 3px;
}

main textarea:placeholder-shown {
    font-style: italic;
  }



main .btn-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5px;
    margin-top: 10px;
    place-items: center;
    
   
}

main .btn-container .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    /* margin: 10px; */
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 0px;
    border-radius: 5px;
    width: 60%;
}

main .btn-container .upperBtn{
    text-transform: uppercase;    
}


main .text-box{
margin-top: 50px;
padding: 15px;
}

main .title{
    margin-top: 30px;
    margin-bottom: 10px;
}

main .title_work{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* Footer css */

footer{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--grey);
    /* font-weight: 800; */



}

footer .btn-footer{
    text-decoration:  none;
    color: azure;
    margin: 5px 10px;
}


/* Media Queries Section 
Responsive layout - when the screen is less than 600px wide
*/
@media screen and (max-width: 600px) {
    header h1{
        font-size: 20px;
    }

    header p{
        font-size: 14px;
      margin: 0 50px;
    }
    

    main .btn-container {
        padding:  0 40px;
    }

    main .btn-container .btn{
        width: 80%;
        font-size: 12px;
    }

    main .text-box{
        font-size: 14px;
    }

    footer{
        font-size: 12px;
    }

  }
